*{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: #f2f4f7;
}
.container{
  justify-content: center;
  justify-items: center;
  display: flex;
}

.logo{
  margin-top: 70px;
  margin-left: -30.7%;
}
.logotext{
    margin-left: -25%;
  margin-top: -140px;
  font-size: 28px;
}
.leftbox{
  width: 398px;
  height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-left: 60%; */
  background-color: white;
  border-radius: 10px;
  align-items: center;
  margin-top: 100px;

}
input{
  width: 80%;
  height: 30px;
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  margin-top: 30px;
  margin-left:23px

}
input:hover{
  border-color: #0866ff;
}
button{
  width: 86%;
  height: 40px;
  margin-top: 37px;
  margin-left: 28px;
  cursor: pointer;
   color: white;
  background-color: #0867ffe1;
  font-size: 20px;
  border-color: #0866ff;
  border-radius: 5px;
}
.forgetext{
 font-size: 17px;
 margin-left:129px ;
 margin-top: 18px;
 color: #0866ff;
}
hr{
  margin-top: 10px;
} 