body {
    background-color: black
    color: black;
    font-family:arial

}

h1 {
    color:black; 
  }
table {
  border: 30px;
}
table{
    border: 10px solid black;
    border-collapse: collapse
    padding:70px;  
    margin:25px;
    
  }

td {
  border:2px solid black;
  background-color: white;
  width:1px;
}

